.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}

.button {
    all: unset;
    position: absolute;
    right: 0;
    top: 20px;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.listItem {
    all: unset;
}

.validation {
    color: #4A4E71;
}

.success {
    color: #27B274;
}

.error {
    color: #FF8080;
}